/*
Mark Ramirez
SI 539
Portfolio CSS
10 November 2019
*/

/* GENERAL */
  html{
    font-family: "Goudy Old Style";
    scroll-behavior: smooth;
    position: absolute;
    background-attachment: fixed;
    background-image: url("../images/columns.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }

  .nav{
    text-align: center;
    align-self: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 30px;
   }

  .site{
    text-align: center;
    align-self: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-bottom: 50px;
    font-size: 64px;
  }

  nav ul{
   list-style-type: none;
  }

  nav li{
   display: inline-block;
   padding-right: 20px;
  }

  nav a{
   color: white;
   font-weight: bold;
   text-decoration: none;
  }

  nav a:hover{
  text-decoration: underline;
  }

  .title{
    text-align: left;
    /* align-self: center; */
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-left: 25px;
    font-size: 32px;
  }

  .text-block{
    align-self: center;
    justify-self: center;
    background-color: rgba(255, 255, 255, .8);
    color: black;
    padding: 30px;
    transition: 0.5s ease-in-out;
  }

  .first{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 4;
    grid-row-end: 5;
    margin: 25px 0px 25px 0px;
  }

  .second{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 5;
    grid-row-end: 6;
    margin: 25px 0px 25px 0px;
  }

  .third{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 6;
    grid-row-end: 7;
    margin: 25px 0px 25px 0px;
  }

  .text-block:hover{
    background-color: black;
    color: #8a5607;
    box-shadow: inset 0 0 0 10px #8a5607;
  }

  p{
    white-space: pre-line;
  }

  footer{
    background-color: black;
    text-align: center;
    align-self: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: -1;
    /* grid-row-end: -1; */
  }
/* END GENERAL */

/* HOMEPAGE */
  img {
    max-width: 100%;
    max-height: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: #8a5607;
    transition:all 1s ease;
    -webkit-filter:blur(0px);
  }

  .intro{
    text-align: center;
    /* align-self: center; */
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-left: 25px;
    font-size: 32px;
  }

  .home-container{
    display: grid;
    position: relative;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 50% 50% 50% 50% 50% 50%;
    grip-row-gap: 15px;
    height: auto;
    width: auto;
  }

  .intro-text{
    text-align: center;
    align-self: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .bio{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    align-self: center;
    padding: 10%;
    margin: 10%;
    align-self: center;
    justify-self: center;
    background-color: rgba(255, 255, 255, .8);
    color: black;
    transition: 0.5s ease-in-out;
  }

  .bio-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    justify-content: center;
    align-items: center;
  }

  .experience .index-image{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    justify-items: center;
    overflow: hidden;
    padding-left: 10px;
  }

  .education .index-image{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    justify-items: stretch;
    overflow: hidden;
  }

  .skills .index-image{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    justify-items: stretch;
    overflow: hidden;
    margin-left: 2px;
  }

  .rotunda .index-image{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    justify-items: stretch;
    overflow: hidden;
    :hover{
      border-radius: 50%;
    }
  }

  .link{
    background-color: #8a5607;
    color: white;
    text-align: center;
    margin-left: 25px;
    margin-bottom: 25px;
  }

  .link:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: 0.5s ease-in-out;
  }

/* END HOMEPAGE */

/* EXPERIENCE PAGE */
  .experience-container{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 50% 50% 50% 50% 50% 50% 50%;
    grip-row-gap: 15px;
    height: auto;
    width: auto;
  }
/* END EXPERIENCE */

/* EDUCATION PAGE */
  .education-container{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 50% 50% 50% 50% 50% 50% 50%;
    grip-row-gap: 15px;
    height: auto;
    width: auto;
  }
/* END EDUCATION */

/* SKILLS PAGE */
  .skills-container{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 50% 50% 50% 50% 50% 50%;
    grip-row-gap: 15px;
    height: auto;
    width: auto;
  }

  .description{
    text-align: left;
    /* align-self: center; */
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    padding: 25px 0px 25px 25px;
    font-size: 16px;
  }

  .first-skills{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  .second-skills{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  .third-skills{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
  }


/* END SKILLS */

/* GALLERY */
  .gallery-container{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 50% 50% 50% 50% 50% 50%;
    grip-row-gap: 15px;
    height: auto;
    width: auto;
  }

  .gallery{
    /* margin-left: 40%; */
    /* float: center; */
    /* width: 180px; */
    padding: 45px;
    /* align-items: center; */
  }

  .gallery img:hover{
    transition: 0.4s ease-in-out;
    border-radius: 50%;
    transform: scale(1.5);
    z-index: 2;
  }

/* END GALLERY */

/* CONTACT PAGE */
  .contact-container{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 50% 50% 50% 50% 50% 50% 50% 50%;
    grip-row-gap: 15px;
    height: auto;
    width: auto;
  }

  form{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    justify-content: center;
    align-items: center;
  }

  .phone{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    justify-content: center;
    align-items: center;
  }

/* END CONTACT */

@media (min-device-width: 320px) {

  .title{
    align-items: center;
  }

  /* nav{
    flex-basis: 100%;
    order: 1;
  } */

  .text-block{
    align-self: center;
    justify-self: center;
    background-color: black;
    color: #8a5607;
    border: solid 10px #8a5607;
  }

  .text-block:hover{
  }

  .home-container{
    display: flex;
    flex-flow: column;
    align-items: center;
   }

  .experience-container{
   display: flex;
   flex-flow: column;
   align-items: center;
  }

  .education-container{
    display: flex;
    flex-flow: column;
    align-items: center;
   }

  .skills-container{
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  footer{
    width: 100%;
  }

}

@media screen and (min-width: 768px){
  .title{
    align-items: center;
  }

  /* nav{
    flex-basis: 100%;
    order: 1;
  } */

  .text-block{
    align-self: center;
    justify-self: center;
    background-color: black;
    color: #8a5607;
    border: solid 10px #8a5607;
  }

  .text-block:hover{
  }

  /* .home-container{
    display: flex;
    flex-flow: row wrap;
    width: 200px;
    height: 200px;
    align-items: center;
   } */

  .home-container{
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
  }

  .site, .nav, .intro{
    width: 100%;
  }

  .home-container .index-image {
    width: 30%;
    margin-left: 35px;
    margin-right: 35px;
    justify-content: space-around;
    align-items: center;
  }

  .experience-container{
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .education-container{
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .skills-container{
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    align-items: center;
  }

  footer{
    width: 100%;
  }

}
