/*
Mark Ramirez
SI 539
Portfolio CSS
10 November 2019
*/

/* MUCH OF THIS WORK INSPIRED FROM AND ALTERED HEAVILY FROM THE GRID ASSIGNMENT (HOMEWORK 4) */

/* GENERAL */
  html{
    font-family: "Goudy Old Style", "Sorts Mill Goudy", "Arial";
    scroll-behavior: smooth;
    position: absolute;
    background-attachment: fixed;
    background-color: #361101;
    background-repeat: no-repeat;
    background-size: cover;
    color: #e6a522;
  }

  .skip a{
    background: #000;
    color:  #e6a522;
    left: 0;
    padding: 6px;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }

  .skip a:visited{
    color: #e6a522;
  }

  .skip a:focus{
    top: 0px;
  }

  .nav{
    text-align: center;
    align-self: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 30px;
    background-color: #361101;
  }

   /* Code found from https://www.youtube.com/watch?v=l9niaFJh8Gs */
   .nav .current{
     background-color: #000;
   }

  .site{
    text-align: center;
    align-self: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-bottom: 50px;
    font-size: 64px;
    letter-spacing: .05em;
    text-shadow:
      4px 4px 0px #000,
      7px 7px 0px rgba(0, 0, 0, 0.2);
    background-color: #361101;
  }

  nav ul{
   list-style-type: none;
  }

  nav li{
   display: inline-block;
   padding-right: 20px;
  }

  nav a{
   color: #e6a522;
   font-weight: bold;
   text-decoration: none;
  }

  nav a:hover{
    text-decoration: underline;
  }

  .title{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-left: 25px;
    font-size: 32px;
    background-color: #361101;
  }

  .description{
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    padding: 25px 0px 25px 25px;
    font-size: 16px;
    background-color: #361101;
  }

  .text-block{
    align-self: center;
    justify-self: center;
    background-color: #361101;
    color: #e6a522;
    padding: 30px;
    transition: 0.5s ease-in-out;
  }

  .first{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 4;
    grid-row-end: 5;
    margin: 25px 0px 25px 0px;
  }

  .second{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 5;
    grid-row-end: 6;
    margin: 25px 0px 25px 0px;
  }

  .third{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 6;
    grid-row-end: 7;
    margin: 25px 0px 25px 0px;
  }

  .text-block:hover{
    background-color: white;
    color: black;
    box-shadow: inset 0 0 0 10px black;
  }

  footer {
    background-color: black;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: #e6a522;
  }

  .intro{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-left: 25px;
    font-size: 32px;
    background-color: #361101;
  }

  .home-container{
    -webkit-display: grid;
    display: grid;
    position: relative;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 50% 50% 50% 50% 50% 50%;
    grid-row-gap: 15px;
    height: auto;
    width: auto;
  }

  .intro-text{
    text-align: center;
    align-self: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .bio{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    align-self: center;
    padding: 10%;
    margin: 10%;
    align-self: center;
    justify-self: center;
    background-color: #361101;
    color: #e6a522;
    transition: 0.5s ease-in-out;
  }

  .bio-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
  }

  .experience .index-image{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    justify-items: center;
    overflow: hidden;
    padding-left: 10px;
  }

  .education .index-image{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    justify-items: stretch;
    overflow: hidden;
  }

  .skills .index-image{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    justify-items: stretch;
    overflow: hidden;
    margin-left: 2px;
  }

  .rotunda .index-image{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    justify-items: stretch;
    overflow: hidden;
  }

  .link{
    border: 10px solid #e6a522;
    background-color: #e6a522;
    color: black;
    text-align: center;
    width: 50%;
    margin-left: 26%;
    margin-right: auto;
    margin-bottom: 25px;
  }

  .link:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: 0.5s ease-in-out;
    background-color: white;
    border-color: black;
    color: black;
  }

  .link a:visited{
    text-decoration: none;
    color: black;
  }

  .container{
    -ms-display: grid;
    -webkit-display: grid;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 50% 50% 50% 50% 50% 50% 50%;
    grid-row-gap: 15px;
    height: auto;
    width: auto;
  }

  .skills-container{
    -ms-display: grid;
    -webkit-display: grid;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 50% 50% 50% 50% 50% 50%;
    grid-row-gap: 15px;
    height: auto;
    width: auto;
    padding-bottom: 10px;
  }

  .skills-image{
    z-index: -1;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 5;
    grid-row-end: 6;
    max-width: 100%;
  }

  .skills-container .text-block{
    border: solid 10px #e6a522;
  }

  .first-skills{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    margin-left: 80px;
  }

  .second-skills{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  .third-skills{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    margin-right: 80px;
  }

  .gallery-container{
    -ms-display: grid;
    -webkit-display: grid;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 50% 50% 50% 50% 50% 50% 50% 50% 50%;
    grid-row-gap: 15px;
    height: auto;
    width: auto;
  }

  .gallery{
    padding: 45px;
  }

  .gallery:hover{
    filter: invert(100%);
    transition: transform .4s;
    transform: scale(1.5);
  }

  .contact-container{
    width: 100vw;
    padding-bottom: 10px;
    background-color: #361101;
  }

  .contact-container .title{
    text-align: center;
    background-color: #361101;
  }

  .contact-container .title, .contact-container .description, .form-container, .phone{
    text-align: left;
    padding: 44px;
    background-color: #361101;
  }

  .contact-image{
    z-index: -1;
    transform: rotate(90deg);
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px;
  }

@media screen and (min-device-width: 320px) and (max-width: 767px) {
  nav{
    text-align: center;
    display:block;
    justify-content:center;
    margin-left: 150px;
    margin-right: 150px;
  }

  img {
    max-width: 90%;
    max-height: 90%;
    border-style: solid;
    border-width: 10px;
    border-color: #e6a522;
  }

  .title{
    align-items: center;
  }

  .text-block{
    align-self: center;
    justify-self: center;
    background-color: black;
    color: #8a5607;
    border: solid 10px #e6a522;
  }

  .home-container{
    -ms-display: flex;
    -webkit-display: flex;
    display: flex;
    flex-flow: column;
    align-items: center;
   }

  .container{
    -ms-display: flex;
    -webkit-display: flex;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .skills-container{
    -ms-display: flex;
    -webkit-display: flex;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .gallery-container{
    -ms-display: flex;
    -webkit-display: flex;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .contact-container{
    -ms-display: flex;
    -webkit-display: flex;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .contact-image{
    visibility: hidden;
  }

  footer{
    width: 100%;
  }

}

@media screen and (min-width: 768px) and (max-width: 1280px) {

  /* Help with how to stack things for tablet view came from https://stackoverflow.com/questions/50615418/have-2-elements-share-same-line-with-flexbox AND https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container */
  nav{
    text-align: center;
    display:block;
    justify-content:center;
    margin-left: 150px;
    margin-right: 150px;
  }

  img {
    max-width: 95%;
    max-height: 95%;
    border-style: solid;
    border-width: 10px;
    border-color: #e6a522;
  }

  .title{
    align-items: center;
  }

  .text-block{
    align-self: center;
    justify-self: center;
    background-color: black;
    color: #e6a522;
    border: solid 10px #e6a522;
  }

  .home-container{
    -ms-display: flex;
    -webkit-display: flex;
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
  }

  .site, .nav, .intro{
    width: 100%;
  }

  .home-container .index-image {
    width: 30%;
    margin-left: 35px;
    margin-right: 35px;
    justify-content: space-around;
    align-items: center;
  }

  .container{
    -ms-display: flex;
    -webkit-display: flex;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .skills-container{
    -ms-display: flex;
    -webkit-display: flex;
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    align-items: center;
  }

  .gallery-container{
    -ms-display: flex;
    -webkit-display: flex;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .contact-container{
    -ms-display: flex;
    -webkit-display: flex;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .contact-image{
    visibility: hidden;
  }

  footer{
    width: 100%;
  }

}

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto;
  }

  .skip a{
    background: #000;
    color:  #e6a522;
    left: 0;
    padding: 6px;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }

  .skip a:visited{
    color: #e6a522;
  }

  .skip a:focus{
    top: 0px;
  }
}
